{% extends 'base.html' %}



{% block content %}
<title>Available Courses</title>
  </head>
  <body>



 <div id="py" class="card text-white bg-info mb-3" style="padding:3rem; margin:1rem; justify-content:center; align-items:center;">

  <div class="card-body " style="width: 50rem;  display:inline-block;">
    <h4 class="card-title">Python for Data Science - (2020 Edition)</h4><br>
    <ul class="list-group list-group-flush" style="bg-color:mb-3;">
    <li class="list-group-item bg-info mb-3">Created by : Michle John</li>
    <li class="list-group-item bg-info mb-3">Language : English</li>
    <li class="list-group-item bg-info mb-3">Full Time Access</li>
    </ul><br><br>
    <h5 class="card-title">What you'll learn :-</h5><br>
    <p class="card-text">Have a fundamental understanding of the Python programming language.</p>
    <p class="card-text">Acquire the pre-requisite Python skills to move into specific branches - Machine Learning, Data Science, etc..</p>
    <p class="card-text">Add the Python Object-Oriented Programming (OOP) skills to your résumé.</p>
    <p class="card-text">Understand how to create your own Python programs.</p>
  </div>
  <div class="card-body bg-info mb-3" style="width:20rem; display:inline-block; box-sizing:border-box;">
      <a href="enroll" class="btn btn-primary">Enroll</a>
  </div>
  </div>


<div id="an" class="card text-white bg-success mb-3" style="padding:3rem; margin:1rem; justify-content:center; align-items:center;">

  <div class="card-body " style="width: 50rem;  display:inline-block;">
    <h4 class="card-title">Angular - The Complete Guide (2020 Edition)</h4><br>
    <ul class="list-group list-group-flush" style="bg-color:mb-3;">
    <li class="list-group-item bg-success mb-3">Created by : A.N Khan</li>
    <li class="list-group-item bg-success mb-3">Language : English</li>
    <li class="list-group-item bg-success mb-3">Full Time Access</li>
    </ul><br><br>
    <h5 class="card-title">What you'll learn :-</h5><br>
    <p class="card-text">Develop modern, complex, responsive and scalable web applications with Angular 10</p>
    <p class="card-text">Fully understand the architecture behind an Angular application and how to use it</p>
    <p class="card-text">Use the gained, deep understanding of the Angular fundamentals to quickly establish yourself as a frontend developer</p>
    <p class="card-text">Create single-page applications with one of the most modern JavaScript frameworks out there</p>
  </div>
  <div class="card-body bg-success mb-3" style="width:20rem; display:inline-block; box-sizing:border-box;">
      <a href="enroll" class="btn btn-primary">Enroll</a>
  </div>
  </div>


<div id="aw" class="card text-white bg-secondary mb-3" style="padding:3rem; margin:1rem; justify-content:center; align-items:center;">

  <div class="card-body " style="width: 50rem;  display:inline-block;">
    <h4 class="card-title">AWS Certified Solutions Architect - Associate 2020</h4><br>
    <ul class="list-group list-group-flush" style="bg-color:mb-3;">
    <li class="list-group-item bg-secondary mb-3">Created by : Harish Gopinath</li>
    <li class="list-group-item bg-secondary mb-3">Language : English</li>
    <li class="list-group-item bg-secondary mb-3">Full Time Access</li>
    </ul><br><br>
    <h5 class="card-title">What you'll learn :-</h5><br>
    <p class="card-text">Pass the AWS Certified Solutions Architect - Associate 2020 Exam</p>
    <p class="card-text">Design Highly Resilient and Scaleable Websites on AWS</p>
    <p class="card-text">Become Intimately Familiar With The AWS Platform</p>
    <p class="card-text">Become A Cloud Guru</p>
  </div>
  <div class="card-body bg-secondary mb-3" style="width:20rem; display:inline-block; box-sizing:border-box;">
      <a href="enroll" class="btn btn-primary">Enroll</a>
  </div>
  </div>




{% endblock %}
